body {
    background-color: blue;
}

p {
    font-size: 70px;
    font-weight: bold;
    background-color: white;
}

input[type=text] {
    margin-bottom: 20px;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
}

input[type=submit] {
    background-color: black;
    color: white;
    width: 130px;
    height: 40px;
    margin-bottom: 30px;
}

div {
    color: white;
    font-size: 50px;
    background-color: black;
    width: auto;
    height: auto;
}